<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/defaultLayout}">
    <th:block layout:fragment="contentFragment">
        <div class="sc-kkbgRg jJqPCh">
            <section class="splash-main">
                <h1>
                    찾는 물건은 다 있다! 국내 중고 물품 다수 보유!<small>취향을 잇는 거래, 번개장터!</small>
                    <form class="sc-bYwvMP ftmUGg"><input type="tel" placeholder="핸드폰 번호를 입력해 주세요." value="010****8364" /><button type="submit">앱 링크 받기</button></form>
                </h1>
            </section>
            <section class="splash-section talk">
                <button class="sc-ESoVU gqJzzS selected">
                    <h5>번개톡</h5>
                    실시간 알림으로 신속한 거래 가능!<br />
                    배송 및 계좌정보 원터치 공유!
                </button>
                <button class="sc-ESoVU gqJzzS">
                    <h5>안전결제</h5>
                    번개페이 이용시 100% 사기 방지!<br />
                    번개송금으로 최대 100만원 보장!
                </button>
                <button class="sc-ESoVU gqJzzS">
                    <h5>우리동네</h5>
                    지역 인증으로 안심 직거래 가능!<br />
                    번거로운 포장이나 택배 따위 불필요!
                </button>
                <button class="sc-ESoVU gqJzzS">
                    <h5>원터치택배</h5>
                    방문 및 편의점 택배를 앱으로 한방에!<br />
                    운송장번호도 구매자와 손쉽게 공유!
                </button>
            </section>
            <section class="splash-review">
                <img alt="ic-pointstar" src="/pc-static/resource/7d0e1f0fd6af13f78185.png" width="250" height="40" />
                <h2>중고거래 서비스중 제일 간편했어요 !<small>- 앱스토어 후기 -</small></h2>
                <blockquote class="splash-reviews">
                    <cite class="sc-hUMlYv iOIUKh">
                        “ 아이들 키우면서 유아 용품 팔 일이 많아<br />
                        중고거래 까페 기웃거리다 번개장터를 만났어요.<br />
                        휴대폰으로 사진 찍고 바로 상품 판매 가능해서<br />
                        너무 편리해요~ 앞으로도 쭉 이용할게요! ”
                    </cite>
                    <cite class="sc-hUMlYv iOIUKh">
                        “ 매일매일 업데이트 되는 상품들도 많고<br />
                        번개톡(특히 알림기능 굿~)을 자주 이용하고 있어요.<br />
                        판매자와 구매자간 신뢰도 나날이 좋아지고 있네요~<br />
                        앞으로도 많이 애용하겠습니다~! ”
                    </cite>
                    <cite class="sc-hUMlYv iOIUKh">
                        “ 아직 학생이라서 용돈이 부족할 때마다<br />
                        번장으로 용돈 보태고 있어요!<br />
                        앱 업데이트도 자주 하고 사용자들도 많아<br />
                        거래하기 수월해요. 매우 만족합니다! ”
                    </cite>
                </blockquote>
                <form class="sc-bYwvMP ftmUGg"><input type="tel" placeholder="핸드폰 번호를 입력해 주세요." value="010****8364" /><button type="submit">앱 링크 받기</button></form>
                <menu class="splash-appdowns">
                    <a href="#ios" class="appdownload"><img alt="ic-ios@2x" src="/pc-static/resource/c92c88fa8f055b34c9a5.png" width="26" height="26" />Download for iOS</a>
                    <a href="#android" class="appdownload"><img alt="ic-android@2x" src="/pc-static/resource/1933567f1060dfd1640c.png" width="26" height="26" />Download for Android</a>
                </menu>
            </section>
        </div>        
    </th:block>
</html>