@charset "utf-8";

/* Noto Sans KR */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url('/css/fonts/NotoSans-Thin.eot');
  src: url('/css/fonts/NotoSans-Thin.eot?#iefix') format('embedded-opentype'),
       url('/css/fonts/NotoSans-Thin.woff2') format('woff2'),
       url('/css/fonts/NotoSans-Thin.woff') format('woff'),
       url('/css/fonts/NotoSans-Thin.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 200;
  src: url('/css/fonts/NotoSans-DemiLight.eot');
  src: url('/css/fonts/NotoSans-DemiLight.eot?#iefix') format('embedded-opentype'),
       url('/css/fonts/NotoSans-DemiLight.woff2') format('woff2'),
       url('/css/fonts/NotoSans-DemiLight.woff') format('woff'),
       url('/css/fonts/NotoSans-DemiLight.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url('/css/fonts/NotoSans-Light.eot');
  src: url('/css/fonts/NotoSans-Light.eot?#iefix') format('embedded-opentype'),
       url('/css/fonts/NotoSans-Light.woff2') format('woff2'),
       url('/css/fonts/NotoSans-Light.woff') format('woff'),
       url('/css/fonts/NotoSans-Light.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('/css/fonts/NotoSans-Regular.eot');
  src: url('/css/fonts/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
       url('/css/fonts/NotoSans-Regular.woff2') format('woff2'),
       url('/css/fonts/NotoSans-Regular.woff') format('woff'),
       url('/css/fonts/NotoSans-Regular.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url('/css/fonts/NotoSans-Medium.eot');
  src: url('/css/fonts/NotoSans-Medium.eot?#iefix') format('embedded-opentype'),
       url('/css/fonts/NotoSans-Medium.woff2') format('woff2'),
       url('/css/fonts/NotoSans-Medium.woff') format('woff'),
       url('/css/fonts/NotoSans-Medium.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url('/css/fonts/NotoSans-Bold.eot');
  src: url('/css/fonts/NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
       url('/css/fonts/NotoSans-Bold.woff2') format('woff2'),
       url('/css/fonts/NotoSans-Bold.woff') format('woff'),
       url('/css/fonts/NotoSans-Bold.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: url('/css/fonts/NotoSans-Black.eot');
  src: url('/css/fonts/NotoSans-Black.eot?#iefix') format('embedded-opentype'),
       url('/css/fonts/NotoSans-Black.woff2') format('woff2'),
       url('/css/fonts/NotoSans-Black.woff') format('woff'),
       url('/css/fonts/NotoSans-Black.otf') format('opentype');
  font-display: swap;
}