<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="footerFragment">
        <div class="sc-eTuwsz clxGMB">
            <div class="sc-gwVKww eXPMTY">
                <div class="sc-hXRMBi drBkCa">
                    <a href="https://bgzt.co.kr/" target="_blank" class="sc-epnACN esSntt">회사소개</a><a href="https://terms.bunjang.co.kr/terms/service.html" target="_blank" class="sc-epnACN esSntt">이용약관</a>
                    <a href="https://terms.bunjang.co.kr/terms/service-policy.html" target="_blank" class="sc-epnACN esSntt">운영정책</a>
                    <a href="https://terms.bunjang.co.kr/terms/privacy.html" target="_blank" class="sc-epnACN esSntt"><b>개인정보처리방침</b></a>
                    <a href="https://terms.bunjang.co.kr/terms/youth-policy.html" target="_blank" class="sc-epnACN esSntt">청소년보호정책</a>
                </div>
            </div>
            <div class="sc-iQNlJl BwQLm">
                <div class="sc-bsbRJL oXZLu">
                    <div class="sc-hZSUBg hrWyCF">
                        <div class="sc-iuJeZd fGABUe">
                            <div class="sc-esOvli dTlKxo">번개장터(주) 사업자정보</div>
                            <div class="sc-cmthru jpJUFl">
                                대표이사 : 최재화&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;개인정보보호책임자 : 문제근<br />
                                사업자등록번호 : 113-86-45836&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;통신판매업신고 : 2019-서울서초-1126<br />
                                호스팅서비스 제공자 : Amazon Web Services (AWS)<br />
                                EMAIL : help@bunjang.co.kr&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;FAX : 02-598-8241<br />
                                주소 : 서울특별시 서초구 서초대로38길 12, 타워1 1층, 타워2 10층 지하1층<br />
                                (서초동, 마제스타시티)<br />
                                <a href="https://www.ftc.go.kr/bizCommPop.do?wrkr_no=1138645836" target="_blank">사업자정보 확인</a>
                            </div>
                        </div>
                        <div class="sc-iuJeZd fGABUe">
                            <div class="sc-cmthru jpJUFl sc-hMFtBS iLKstP">
                                <div>
                                    <b>번개장터(주)더현대서울점</b>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;최재화&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;365-85-01581<br />
                                    서울특별시 영등포구 여의대로 108, 지하2층(여의도동, 파크원)
                                </div>
                                <div>
                                    <b>번개장터(주)코엑스점</b>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;최재화&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;142-85-27412<br />
                                    서울특별시 강남구 영동대로 513, 쇼핑몰동 B1층 C102호(삼성동, 코엑스)
                                </div>
                                <div>
                                    <b>번개장터(주)센터필드점</b>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;최재화&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;808-85-01905<br />
                                    서울특별시 강남구 테헤란로 231, 쇼핑몰동 1층 W124호(역삼동)(역삼동, 센터필드)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sc-cMhqgX bnkeft">
                        <div class="sc-iuJeZd fGABUe">
                            <div class="sc-esOvli dTlKxo">
                                고객센터&nbsp;
                                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 20" role="img">
                                    <path fill="#9b99a9" fill-rule="evenodd" d="M1 20a.994.994 0 0 0 .748-.337l8-9a.999.999 0 0 0 0-1.328l-8-9A1 1 0 0 0 .254 1.663L7.664 10l-7.41 8.336A.999.999 0 0 0 1 20"></path>
                                </svg>
                            </div>
                            <div class="sc-cmthru jpJUFl">
                                <strong>1670-2910</strong><br />
                                운영시간 9시 - 18시 (주말/공휴일 휴무, 점심시간 12시 - 13시)<br />
                                <div class="sc-bMVAic cTZXZk"><a href="https://help.bunjang.co.kr/notice">공지사항</a><a href="https://help.bunjang.co.kr/qna/new">1:1 문의하기</a><a href="https://help.bunjang.co.kr/faq">자주 묻는 질문</a></div>
                            </div>
                        </div>
                        <div class="sc-iuJeZd fGABUe">
                            <div class="sc-esOvli dTlKxo">우리은행 채무지급보증 안내</div>
                            <div class="sc-cmthru jpJUFl">
                                번개장터㈜는 “BGZT Digital”, “BGZT Lab”, “BGZT Lab 1”, “BGZT Lab 2”, “BGZT 컬렉션” 상점이 판매한 상품에 한해, 고객님이 현금 결제한 금액에 대해 우리은행과 채무지급보증 계약을 체결하여 안전거래를 보장하고 있습니다.
                                <br />
                                <a href="https://terms.bunjang.co.kr/terms/wooriguarantee.html" target="_blank">서비스 가입사실 확인</a>
                                <div class="rights-copy">Ⓒ Bungaejangter. Inc All rights reserved.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sc-cLQEGU bQbag">
                    <div class="sc-hZSUBg hrWyCF">
                        <a
                            href="https://isms.kisa.or.kr/main/ispims/issue/?certificationMode=list&amp;crtfYear=&amp;searchCondition=2&amp;searchKeyword=%EB%B2%88%EA%B0%9C%EC%9E%A5%ED%84%B0+%EC%A3%BC%EC%8B%9D%ED%9A%8C%EC%82%AC&amp;__encrypted=U8oaEwTLg12yqNDZuCwRPMiDRLgcrZjlbxomU5uctoZc1kXWONBhXaf0KhG%2BaV6wpp2zSeTry6yKT1QpQPP4n6Wl4JbzPyTKSn7s1FoRr90UnnwTp%2BW928V1TpyMuwFVMU8D270RkIg564CRAF0bUnkvpnfyAxjhbyn0pSpjvw%2BMlXuoQnR3oJUfvVi%2B1dac8Gnd7jHhSmiDLOX09CuWhVRPx40RuMcaT%2FHbItyyZvQECWvcAvRb36C1zB%2FnwnWRJNfv74iaCKBgpNE%2BERnypNyBfcqQSKf%2BfDsW9aHcpTOO1K747YgBrg%3D%3D"
                            target="_blank"
                            class="sc-hORach gNeqKE"
                        >
                            <img src="/pc-static/resource/ee757469a142ab4f2f48.png" width="31" height="28" alt="ISMS 인증마크" />
                            <div>
                                <p>[인증범위] 번개장터 중고거래 플랫폼 서비스 운영(심사받지 않은 물리적 인프라 제외)</p>
                                <p>[유효기간] 2021.05.18 ~ 2024.05.17</p>
                            </div>
                        </a>
                    </div>
                    <div class="sc-cMhqgX bnkeft">
                        <div class="sc-gqPbQI jzssPZ">
                            “BGZT Digital”, “BGZT Lab”, “BGZT Lab 1”, “BGZT Lab 2”, “BGZT 컬렉션” 상점의 판매상품을 제외한 모든 상품들에 대하여, 번개장터㈜는 통신판매중개자로서 중고거래마켓 번개장터의 거래당사자가 아니며, 입점판매자가 등록한
                            상품정보 및 거래에 대해 책임을 지지 않습니다.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</html>