<html xmlns:th="http://www.thymeleaf.org">
	<th:block th:fragment="headFragment">
		<!-- Vendor JS -->
		<script type="text/javascript" th:src="@{/js/vendor/jquery/jquery-3.6.0.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/vendor/jquery/form/jquery.form.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/vendor/jquery/ui/jquery-ui.min.js}"></script>
		<link rel="stylesheet" th:href="@{/js/vendor/jquery/ui/jquery-ui.min.css}"/>
		
		<script type="text/javascript" th:src="@{/js/vendor/slick/slick.js}"></script>
		<link rel="stylesheet" type="text/css" th:href="@{/js/vendor/slick/slick.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/js/vendor/slick/slick-theme.css}"/>

		<script type="text/javascript" th:src="@{/js/vendor/axios/axios.min.js}"></script>

		<!-- JS -->
		<script type="text/javascript" th:src="@{/js/common.js}"></script>
		<script type="text/javascript" th:src="@{/js/utils.js}"></script>
		<script type="text/javascript" th:src="@{/js/cookie.js}"></script>
		<script type="text/javascript" th:src="@{/js/popup.js}"></script>
		
		<!-- CSS -->
		<link rel="stylesheet" th:href="@{/css/font.css}" />
		<link rel="stylesheet" th:href="@{/css/reset.css}" />
		<link rel="stylesheet" th:href="@{/css/style.css}" />
		
		<!-- Meta -->
		<meta charset="utf-8" />
		<meta name="google" content="notranslate" />
		<meta name="robots" content="noimageindex, noarchive" />
		<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,maximum-scale=1,user-scalable=0" />
		<meta name="description" content="직거래부터 택배거래까지 쉽고 안전하게, 취향 기반 중고거래 플랫폼" />
		<meta
			name="keywords"
			content="번개장터,번장,마켓,중고나라,Market,중고카페,C2C,연예인용품,스타굿즈,오픈마켓,저렴,개인간 거래,중고장터,알뜰장터,중고폰,엑소,픽시,중고시장,중고마켓,직거래,벼룩시장,벼룩장터,중고,중고상품,중고아이템,중고품,중고물품 거래,무료 나눔,물물교환,렌트,장터,쇼핑,프리마켓,중고쇼핑 등"
		/>
		<meta name="theme-color" content="#ffffff" />
		<meta httpequiv="Content-Security-Policy" content="upgrade-insecure-requests" />
		<meta httpequiv="X-UA-Compatible" content="IE=edge" />
		<meta httpequiv="Content-Script-Type" content="text/javascript" />
		<meta httpequiv="Content-Style-Type" content="text/css" />
		<meta property="og:title" content="번개장터" />
		<meta property="og:description" content="직거래부터 택배거래까지 쉽고 안전하게, 취향 기반 중고거래 플랫폼" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://m.bunjang.co.kr" />
		<meta property="og:image" content="https://dbgl6r3fnusyg.cloudfront.net/seo/bunjang-og-image.png" />
		<meta name="twitter:title" content="번개장터" />
		<meta name="twitter:description" content="취향을 잇는 거래, 번개장터" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:url" content="http://m.bunjang.co.kr" />
		<meta name="twitter:image" content="https://dbgl6r3fnusyg.cloudfront.net/seo/bunjang-og-image.png" />
		<meta name="google-site-verification" content="JEB5ISyd0B48XEYX_Zbc0Hg_3wNVquA_so8lGZpS2Aw" />
		<meta name="naver-site-verification" content="be5055aefad0219f41d534bfc242fb801ac59429" />
		<meta name="facebook-domain-verification" content="ejv7v7fu37tazws8fu4wlnvtqfhvxh" />
		<link rel="shortcut icon" th:href="@{/favicon.ico}">
		<title>번개장터(클론)</title>
	</th:block>
</html>